.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: absolute;
    width: 500px;
    background-color: #Fff;
    transition: all 2s ease;
    border: 2px solid #0000008c;
    border-radius: 6px;
    padding: 5px;
}

.modal-header, .modal-footer {
    padding: 10px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}